#calculator-container {
    border: solid var(--txt-color);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    margin-top: 1%;
    height: 75vh;
    box-shadow: var(--bx-shadow);
    overflow: hidden;
    
    animation: appear ease-in-out 2s;
}

#form {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    
}

  #display {
    display: flex;
    text-align: right;
    align-items: center;
    width: 100%;
    height: 15%;
    padding: 4%;
    font-size: 2em;
    font-weight: 500;
    background-color: transparent;
    color: var(--txt-color);
    overflow: hidden;
    transition: ease-in-out .5s;
    border: none;
    z-index: 1;
}

#display:focus {
    outline: none;
    border: none;
}


#form input[value="+/-"] {
    border-bottom-left-radius: .6em;
}


#form #buttons-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    overflow: hidden;   
    
}


#form input[type="button"],
#form button {
    border: none;
    box-shadow: var(--bx-shadow);
    background-color: var(--btn-num-bg);
    color: var(--txt-color);
    font-size: 1.2em;
    font-weight: 700;
    transition: ease-in-out .5s; 
}


#form #clear {
    grid-column: 1/3;
}


#form #equals {
    grid-column: 3/5;
}



#form #backspace, 
#form #clear {
    background-color: var(--btn-bg-color);
    color: var(--border-color);
}

#form input.operators, 
#form button.operators{
    background-color: var(--btn-operators);
}



#form input[type="button"]:hover,
#form button:hover {
    cursor: pointer;
    animation: rotateHue 1.2s alternate infinite;
}



#form input[type="button"]:active,
#form button:active {
    cursor: pointer;
    transform: scale(.9);
}



@keyframes appear {
    from {
        transform: scale(.1);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

  
  @keyframes rotateHue {
    to {
        filter: hue-rotate(1turn);
        background-color: var(--border-color);
        color: var(--txt-color);
        box-shadow:
        0.9px 0.5px 1.4px rgba(94, 94, 94, 0.084),
        2.2px 1.4px 3.6px rgba(94, 94, 94, 0.116),
        4.4px 2.8px 7.4px rgba(94, 94, 94, 0.096),
        9.1px 5.8px 15.3px rgba(94, 94, 94, 0.144),
        25px 16px 42px rgba(94, 94, 94, 0.192);
    }
  }











/* ------------------MEDIA QUERY----------------- */



/* ---------------------TABLET--------------- */



@media only screen and (max-width: 992px){
    #form input[type="button"]:hover,
    #form button:hover {
        animation: none;
    }


    #form input[type="button"]:active,
    #form button:active, 
    #form #clear:active {
        cursor: pointer;
        transform: scale(.9);
        background-color: var(--border-color);
    }
    #form #clear:active {
        background-color: var(--border-color);
        color: var(--txt-color);
    }
}










@media only screen and (min-width: 768px) and (max-width: 992px) {
    #form input[type="button"],
    #form button, 
    #form #clear {
        transition: ease-out .2s;
    }
}



/* ------------------IPAD-MINI------------------ */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    #calculator-container {
        height: 70vh;
        width: 50%;
    }

    #display {
        font-size: 1.60em;
    }

}




@media only screen and (min-width: 559px) and (max-width: 767px) {
    #calculator-container {
        width: 50%;
        height: 65vh;
    }
}

@media only screen and (max-width: 559px) {
    #calculator-container {
        width: 60%;
        height: 60vh;
        margin-top: 5%;
    }

    #display {
        font-size: 1.8em;
    }

    #form input[type="button"],
    #form button {
        font-size: 1em;
    }
}