#calculator-container {
    border: solid #b867a9;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: auto;
    height: 80.67vh;
    box-shadow: var(--bx-shadow);
}

#form {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    
}

  #display {
    display: flex;
    text-align: right;
    align-items: center;
    width: 100%;
    height: 15%;
    padding: 4%;
    font-size: 2em;
    font-weight: 500;
    background-color: transparent;
    color: var(--txt-color);
    overflow: hidden;
    transition: ease-in-out .5s;
    border: none;
    z-index: 1;
}

#display:focus {
    outline: none;
    border: none;
}


#form input[value="+/-"] {
    border-bottom-left-radius: .6em;
}





#form  input[type="button"],
#form button {
    width: calc(100% / 4);
    height: calc(100% / 5);
    padding: 6.2% 0;
    font-size: var(--btn-fnt-size);
    font-weight: bold;
    color: var(--txt-color);
    box-shadow: var(--bx-shadow);
    background-color: transparent;
    border: none;
    transition: ease-in-out .3s;
}

#form #backspace {
    background-color: var(--btn-bg-color);
    color: var(--border-color);
}

#form #backspace i {
    font-size: 1.6em;
    font-weight: bold;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--border-color);
}


#form input.operators {
    background-color: var(--btn-operators);
}


#form #equals {
    border-bottom-right-radius: .6em;
    background-color: var(--btn-operators);
}

#form #clear {
    background: var(--btn-bg-color);
    color: var(--border-color);
}


#form input[type="button"]:hover,
#form button:hover {
    cursor: pointer;
    animation: rotateHue 1.2s alternate infinite;
}



#form input[type="button"]:active,
#form button:active {
    cursor: pointer;
    transform: scale(.9);
}

  
  @keyframes rotateHue {
    to {
        filter: hue-rotate(1turn);
        background-color: var(--border-color);
        color: var(--txt-color);
        box-shadow:
        0.9px 0.5px 1.4px rgba(94, 94, 94, 0.084),
        2.2px 1.4px 3.6px rgba(94, 94, 94, 0.116),
        4.4px 2.8px 7.4px rgba(94, 94, 94, 0.096),
        9.1px 5.8px 15.3px rgba(94, 94, 94, 0.144),
        25px 16px 42px rgba(94, 94, 94, 0.192);
    }
  }

