#calculator-container {
    
    display: flex;
    justify-content: center;
}

#form {
    border: solid #BF8FB6;
    border-radius: 1em;
    display: inherit;
    flex-direction: column;
    height: 80vh;
    width: 35vw;
    overflow: hidden;
}

#form #display-container {
    border-bottom: solid #BF8FB6;
    height: 17%;
}


#form #display-container #display {
    display: flex;
    text-align: right;
    width: 100%;
    height: 100%;
    padding: 2%;
    border: none;
    font-size: 2em;
    font-weight: 500;
    background-color: transparent;
    color: var(--txt-color);
}



#form .row {
    display: inherit;
    width: 100%;
    height: calc(100% / 5);
    justify-content: space-evenly;
    align-items: center;

}

#form .row nav,
#form .row button {
    width: 15%;
    height: 80%;
    font-size: var(--btn-fnt-size);
    border-radius: 50%;
    font-weight: bold;
    box-shadow:
  0.9px 0.5px 1.4px rgba(0, 0, 0, 0.084),
  2.2px 1.4px 3.6px rgba(0, 0, 0, 0.12),
  4.4px 2.8px 7.4px rgba(0, 0, 0, 0.15),
  9.1px 5.8px 15.3px rgba(0, 0, 0, 0.186),
  25px 16px 42px rgba(0, 0, 0, 0.27);
    transition: ease-in-out .5s;
}



#form .row nav {
    background-color: transparent;
    display: inherit;
    justify-content: center;
    align-items: center;

    

}

#form .row button {
    border: none;
    background: var(--btn-bg-color);
}


#form .row nav:hover,
#form .row button:hover {
    cursor: pointer;
    animation: rotateHue 1.2s alternate infinite;
}



#form .row nav:active,
#form .row button:active {
    cursor: pointer;
    transform: scale(.9);
}


  
  @keyframes rotateHue {
    to {
        filter: hue-rotate(1turn);
        background-color: var(--border-color);
        color: var(--txt-color);
        box-shadow:
        0.9px 0.5px 1.4px rgba(122, 122, 122, 0.084),
        2.2px 1.4px 3.6px rgba(122, 122, 122, 0.12),
        4.4px 2.8px 7.4px rgba(122, 122, 122, 0.15),
        9.1px 5.8px 15.3px rgba(122, 122, 122, 0.186),
        25px 16px 42px rgba(163, 163, 163, 0.27);
    }
  }

