@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url(roots.css);
@import url(calculatorForm.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: var(--bg-color);
    color: var(--txt-color);
    background-image: var(--bg-color);
    background-repeat: no-repeat;

}

#main {
    height: max-content;
}


#h1 {
    text-align: center;
    padding: 2.5%;
    font-size: var(--h1-fnt-size);
    height: 8%;
    display: flex;
    width: max-content;
    margin: auto;
    justify-content: center;

    animation: h1  2s ease-in-out;
}


@keyframes h1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
